.sticky {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  
  border-radius: 4px;

	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;

  position: sticky;
  top: 0px;
  z-index: 100;
}

.darkerButton { background-color: '#a0a0a075' }

.blue {
  color: DarkSlateBlue
}
